// Colors
$black: #000000;
$anthracite-grey: #141414;
$grey: #443d3c;
$middle-grey: darkgray;
$light-grey: #c7c7c7;
$extra-light-grey: #ececec;
$goweb-red: #ff4460;
$green: #008000;
$off-white: #fafafa;
$white: #ffffff;
