@import "../../_settings/variables";
@import "../../_settings/mixins";

.banner {
  height: fit-content;
  padding: 10px 10%;
  background-color: $goweb-red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  position: relative;

  &.hidden {
    display: none;
  }

  &_message {
    font-size: 1rem;
    font-family: "Lato";
    color: $white;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
  }

  &_close {
    font-size: 1rem;
    color: $white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 5%;
    width: 14px;
    height: 14px;

    @include media(tablet) {
      right: 15%;
    }
  }
}
