@import "../../_settings/variables";
// @import "../../_settings/mixins";

.banner {
  padding: 10px 0;
  background-color: $goweb-red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    display: none;
  }

  &_message {
    font-size: 1rem;
    font-family: "Lato";
    color: $white;
    text-transform: uppercase;
    line-height: 1.6;
    margin-left: 15%;
    text-align: center;
  }

  &_close {
    font-size: 1rem;
    width: 15%;
    color: $white;
    background-color: transparent;
    border: none;
  }
}
