@import "../../_settings/variables";

.itemForm {
  padding: 2.5% 5%;

  & > * {
    margin-bottom: 20px;
  }

  &_bottom {
    display: flex;

    &_buttonAdd {
      height: 35px;
      width: 100%;
      background-color: $grey;
      color: white;
      border: none;
      text-transform: uppercase;
      outline: none;

      &.disabled {
        background-color: lightgray;
        cursor: not-allowed;
      }
    }
  }
}
