@import "../../../_settings/variables";

.navMobile {
  &_logo {
    display: flex;
    justify-content: center;
    height: 100%;

    & img {
      height: 15px;
    }
  }

  &_right,
  &_left {
    height: 100%;
    display: flex;
    align-items: center;

    &_button {
      font-size: 1.75rem;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      display: flex;

      &_burger {
        width: 18px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &_cartCount {
        padding-left: 5px;
        font-size: 1.4rem;
      }
    }
  }

  &_menu {
    width: 100%;
    position: absolute;
    margin-top: 50px;
    left: 0;
    padding: 5% 7.5%;
    display: flex;
    flex-wrap: wrap;
    background-color: $off-white;
    border-bottom: 1px solid rgb(181, 181, 181);
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    opacity: 0;

    &.open {
      transform: translateX(0);
      opacity: 1;
    }

    & a {
      text-transform: uppercase;
      font-size: 1.2rem;
      width: 50%;
      padding: 10px 0;

      & svg {
        margin: 0 5px;
      }
    }
  }
}
