@import "../../../_settings/mixins";

.inputNumber {
  // width: 60px;
  width: fit-content;

  &_label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;

    @include media(tablet) {
      position: relative;
      clip: auto;
      width: fit-content;
      height: auto;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  &_value {
    color: grey;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;

    & span {
      padding: 0 10px;
    }

    &_arrows {
      height: 100%;
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 1px solid grey;
      // background-color: rosybrown;
    }

    &_line {
      border-bottom: 1px solid grey;
      width: 100%;
    }
  }
}
