@import "../../../_settings/variables";

.itemFormDesktop {
  width: 100%;

  &_inputs {
    width: 100%;
    display: flex;
  }

  &_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_buttonAddCart {
      width: 47.5%;
      height: 45px;
      background-color: $grey;
      color: white;
      border: none;
      text-transform: uppercase;
      outline: none;
      font-size: 1.2rem;
      cursor: pointer;
      border: 1px solid $grey;
      transition: 0.25s ease-in-out;

      &.disabled {
        background-color: darkgray;
        border: 1px solid darkgray;
        cursor: not-allowed;
        transition: 0.25s ease-in-out;
      }

      &:not(.disabled) {
        &:hover {
          background-color: $off-white;
          color: $anthracite-grey;
          border: 1px solid $grey;
          transition: 0.25s ease-in-out;
        }
      }
    }

    &_buttonAddFavorite {
      width: 47.5%;
      height: 45px;
      background-color: $off-white;
      color: $grey;
      border: none;
      text-transform: uppercase;
      outline: none;
      border: 1px solid $light-grey;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.25s ease-in-out;

      &:hover {
        border: 1px solid $grey;
        color: $anthracite-grey;
        transition: 0.25s ease-in-out;
      }
    }
  }
}
