.footer {
  font-size: 1.3rem;
  font-family: "Lato";
  color: rgb(181, 181, 181);
  line-height: 1.6;
  border-top: 1px solid rgb(181, 181, 181);
  margin-top: 15px;
  text-align: center;
  padding: 10px 15%;
}
