@import "../../_settings/variables";

.footer {
  font-size: 1.3rem;
  color: $anthracite-grey;
  line-height: 1.6;
  border-top: 1px solid $anthracite-grey;
  text-align: center;
  padding: 10px 15%;

  & svg {
    color: $goweb-red;
  }
}
