@import "../../_settings/mixins";

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  @include media(tablet) {
    flex-direction: row;
    padding: 40px 15%;

    &_images {
      width: 55%;
    }

    &_informationsForm {
      width: 45%;
    }
  }
}
