.shoppingCartTotal {
  width: 100%;
  padding: 0 5%;
  margin: 5% 0;
  background-color: rgb(236, 236, 236);
  font-size: 1.1rem;
  text-transform: uppercase;

  &_articles,
  &_delivery,
  &_toPay {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    color: rgb(83, 83, 83);
  }

  &_toPay {
    & h2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: black;
    }
  }
}
