@import "../../_settings/variables";
@import "../../_settings/mixins";

.shoppingCartTotal {
  width: 100%;
  padding: 5px 5%;
  margin: 5% 0;
  background-color: $extra-light-grey;
  font-size: 1.1rem;
  text-transform: uppercase;

  @include media(tablet) {
    margin: 20px 0;
    padding: 10px 20px;
  }

  &_articles,
  &_delivery,
  &_toPay {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: $grey;
  }

  &_toPay {
    & h2 {
      font-size: 1.4rem;
      font-weight: bold;
      color: $black;
    }
  }
}
