@import "../../../_settings/variables";

.navDesktop {
  width: 100%;
  background-color: $off-white;

  &_top {
    width: 100%;
    height: 70px;
    padding: 0 15%;
    border-bottom: 1px solid rgb(181, 181, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_logo {
      display: flex;
      justify-content: center;
      height: 100%;

      & img {
        height: 30px;
      }
    }

    &_cartButton {
      height: 40px;
      border: 1px solid $black;
      background-color: $off-white;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      transition: 0.5s ease-in-out;

      &:hover {
        background-color: $anthracite-grey;
        color: $off-white;
        transition: 0.5s ease-in-out;
      }

      &_cartCount {
        margin-left: 5px;
      }
    }
  }

  &_bottom {
    width: 100%;
    height: 50px;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_menu {
      width: 55%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.2rem;

      & svg {
        margin-left: 10px;
      }
    }

    &_likeSearch {
      height: 100%;
      align-items: center;
      display: flex;

      &_button {
        font-size: 1.4rem;
        padding: 0 10px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        display: flex;
      }

      &_line {
        height: 50%;
        border-right: 1px solid grey;
      }
    }
  }
}
