@import "../../../_settings/variables";
@import "../../../_settings/mixins";

.inputSelect {
  width: 100%;

  &_label {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;

    @include media(tablet) {
      position: relative;
      clip: auto;
      width: 100%;
      height: auto;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }

  &_select {
    color: $grey;
    padding-left: 10px;
    border: 1px solid $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    cursor: pointer;
    outline: none;

    &_arrow {
      height: 100%;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_optionsContainer {
    visibility: hidden;
    height: 0px;

    &.show {
      visibility: visible;
      height: fit-content;
      display: flex;
      flex-direction: column;
      width: 100%;
      border: 1px solid $grey;
    }

    & button {
      height: 35px;
      padding-left: 10px;
      border: none;
      text-align: left;
      background-color: $white;
      border-bottom: 1px solid $light-grey;
      cursor: pointer;
      outline: none;
    }
  }
}
